<!DOCTYPE html>
<html>
  <head>
    <title>Cleangenix</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEgux74u8kAzQ_YsUWPfoLFGjXPQN7U7E&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      
      function initMap() {
        var centerCords = {
        lat: 19.0222,
        lng: 72.8561
      };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          center: centerCords,
        });
        <%for(var i=0;i<latl.length;i++) {%>
        var myLatLng = { lat: <%=latl[i].lat%>, lng: <%=latl[i].long%> };
        
        var marker = new google.maps.Marker({
          position: myLatLng,
          map,
          title: "Hello World!",
        });
        <%}%>
      }
      
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>